<html>

<head>
  <title>Minutes of Meet</title>
  <link href="/css/layout.css" rel="stylesheet">
  <% if(flag==1){%>
    <link href="/css/homePage.css" rel="stylesheet">
    <link href="/css/actionItems.css" rel="stylesheet">
    <%}else{%>
      <link href="/cssLight/homePage.css" rel="stylesheet">
      <link href="/cssLight/actionItems.css" rel="stylesheet">
      <%}%>
        <link rel="icon" type="image/x-icon" href="https://myadp.adpcorp.com/themes/custom/customadp/favicon.ico">
</head>

<body>
  <div class="col col-12" id="loginDiv">
    <div class="landing-page">
      <div class="container">
        <div class="header-area">
          <div class="logo">Hi <b id="heading">
              <%=userName%>
            </b></div>
          <ul class="links">
            <a href="/manager/home/<%=userToken%>/<%=flag%>">
              <li>Home</li>
            </a>
            <a href="/manager/team/<%=userToken%>/<%=flag%>">
              <li>Team</li>
            </a>
            <a href="/manager/meet/<%=userToken%>/<%=flag%>">
              <li>Meet</li>
            </a>
            <a href="/manager/minutes/content/<%=userToken%>/<%=flag%>">
              <li>Meet History</li>
            </a>
            <a href="/manager/queries/<%=userToken%>/<%=flag%>">
              <li id="highlight">Queries</li>
            </a>
            <a href="/manager/actionitems/<%=userToken%>/<%=flag%>">
              <li>Action Items</li>
            </a>
            <a href="/logout/<%=userToken%>">
              <li>Logout</li>
            </a>
          </ul>
        </div>
      </div>
      <div class="col col-12" id="tableDiv">
        <section>
          <h1>Queries Raised</h1>
          <div class="tbl-header">
            <table cellpadding="0" cellspacing="0">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Subject</th>
                  <th>Details</th>
                  <th>Raised By</th>
                  <th>Team</th>
                  <th>Meet Date</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="tbl-content">
            <table cellpadding="0" cellspacing="0">
              <tbody>
                <% for( var i=0; i < queries.length; i++){ %>
                  <tr>
                    <td>
                      <%= i+1 %>
                    </td>
                    <td>
                      <%= queries[i].querySubject %>
                    </td>
                    <td>
                      <%= queries[i].details %>
                    </td>
                    <td>
                      <%= queries[i].employeeName %>
                    </td>
                    <td>
                      <%= queries[i].teamName %>
                    </td>
                    <td>
                      <%= queries[i].meetDate %>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>

</html>